<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>

      html, body {
      min-height: 100%;
      background: #fff
      }
      body  {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      }
      h1, h2, h3, h4, h5, h6, p, a {
      margin: 10px 10px;
      font-weight: 400;
      }
    </style>
</head>
<body>
    <h1>Welcome to Online ID creation portal</h1>
    <br>
    <a href="/register_details">Click here to register the form</a>
</body>
</html>